<form method="POST" action="upload.html" action="/upload_multiple_images">
    <input type="file" name="file">
    <input type="submit" value="upload">

    <p>
        <a href="http://localhost:3500/uploads">student data</a>
</form>

<!-- <form method="POST" action="/upload-multiple-images" enctype="multipart/form-data">
    <div>
        <label>Select multiple images:</label>
        <input type="file" name="multiple_images" multiple />
    </div>
    <div>
        <input type="submit" name="btn_upload_multiple_images" value="Upload" />
    </div>
</form> -->